@font-face {
  font-family: Iceland;
  src: url('./Iceland.ttf');
}

body {
  background: #1D111B;
  font-family: Iceland;
  color: white;
  margin: 0;
}

h1 {
  font-size: 50px;
  line-height: 20px;
}

.connection-badge {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: default;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.connection-badge .not-connected {
  background: rgba(255, 74, 74, 0.2);
}

.connection-badge .not-connected > .connection-dot {
  background: #FF4A4A;
}

.principal-badge {
  margin-left: 24px;
  background: rgba(74, 255, 136, 0.2);
  padding: 5px 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.principal-badge > .connection-dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 7px;
  background: #4AFF67;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-image {
  position: absolute;
  top: 50px;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 90vh;
  bottom: 0;
}
